<ion-view view-title="Bills">

  <ion-content class="padding">
    <div ng-if='isLoggedIn()' class="card">
      	<div class="item item-text-wrap">
			Actual Amount Balance: $0<br />
	        Pending Credits: $0<br />
	        Student Account Balance: $0<br />
	        Past Due: $0
    	</div>
    </div>
    <div ng-if='!isLoggedIn()' class="card">
      <div class="item item-text-wrap">
          <p>
            Please login first...
          </p>
      </div>
    </div>
  </ion-content>
</ion-view>
