<ion-view view-title="Classes">

  <ion-content class="padding">

    <form ng-submit="doSearch()">
		<label class="item item-input item-select">
			<div class="input-label">
		  		School: 
			</div>
			<select>
				<option selected>Select One</option>
                <option>Arts, Sciences, and Engineering</option>
                <option>Flecture School</option>
                <option>Friedman School</option>
                <option>Sackler School</option>
                <option>School of Dental Medicine</option>
			</select>
		</label>

		<label class="item item-input item-select">
			<div class="input-label">
		  		Term: 
			</div>
			<select>
	            <option selected>Select One</option>
	            <option>Spring 2016</option>
	            <option>Fall 2015</option>
	            <option>Summer 2015</option>
	            <option>Spring 2015</option>
			</select>
		</label>

		<label class="item item-input item-select">
			<div class="input-label">
		  		Subject: 
			</div>
			<select>
                <option selected>Select One</option>
                <option>ARB</option>
                <option>APP</option>
                <option>BIO</option>
                <option>BMS</option>
                <option>COMP</option>
                <option>CH</option>
                <option>DNC</option>
                <option>ECE</option>
			</select>
		</label>

		<label class="item item-input item-select">
			<div class="input-label">
		  		Course Number: 
			</div>
			<select>
	            <option selected>Select One</option>
	            <option>COMP-15</option>
	            <option>COMP-150</option>
	            <option>COMP-160</option>
	            <option>COMP-170</option>
	            <option>COMP-171</option>
	            <option>COMP-150IDS</option>
			</select>
		</label>
		
		<label class="item item-input">
			<span class="input-label">Keywords: </span>
			<input type="text">
		</label>
		
		<label class="item item-input">
			<span class="input-label">Instructor: </span>
			<input type="text">
		</label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
    </form>
  </ion-content>
</ion-view>
